body{
    background: url('../summer.jpg') no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.main-section{
    margin: 0 auto;
    width: 55vw;
    background: #ffffcc;  
    font-family: fantasy;
    text-align: initial;
    opacity: .9;
}

.main-menu{

    width: 55vw;
    background: #ffff99;  
    font-size: 16pt; 
    font-family: fantasy;
    margin: 30px auto;
    padding: 15px;
    font-weight: bold;
    opacity: .9;
}